<section id="{{ page.folder|replace({'_': ''})|lower }}" class="pracical-section container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="text-center">{{ page.header.title }}</h2>
            <div class="border-orange"></div>
            {{ page.content }}
        </div>
        <div class="col-xs-12 text-center">
            <a href={{ page.header.url }} class="btn btn-default">{{ page.header.button_label }}</a>
        </div>
    </div>
</section>